
@import views.html.movies.common
@(movies : List[MovieModel])

@common("Movies") {

 <!-- <input type="submit" onclick="location.href='@routes.MovieController.createMovie()" value="Add Movie" />-->
  <!--<button class="delete" href="@routes.MovieController.createMovie()">Add Movie</button>-->
  <h4><a href="@routes.HomeController.index()">Home</a></h4>
  <h4><a href="@routes.MovieController.createMovie()">Add Movie</a></h4>
  <div>
    @for(movie <- movies){
      <div>
        <table>
      <th>Movie Name:</th>
      <th>@movie.name</th>
          <tr></tr>
      <th>Director:</th>
        <th>@movie.director</th>
        <tr></tr>
        <th>Producer:</th>
        <th>@movie.producer</th>
          <th><h4><a href="@routes.MovieController.updateMovie(movie.getId)">Edit Movie</a></h4></th>

          <th><h4><a href="@routes.MovieController.deleteMovie(movie.getId)">Delete  Movie</a></h4></th>
        </table>
        </div>
    }
  </div>

}