@import models.MultiplexModel
@(multiplex: MultiplexModel)
<!doctype html>
<html lang="en">
    <button type="button"  onclick="location.href = '@routes.HomeController.index()'">
     Home
    </button>
        <div class="card-columns">
            <ul style="list-style-type: none;">
                @for(m <- 1 to multiplex.getNoOfSccreens) {
                    <li>
                        <button type="button"  style=" width: 18rem;" onclick="location.href = '@routes.AllotMovieController.allotList(multiplex.getId,m)'">
                            Screen @m
                        </button>
                        <tr></tr>
                    </li>
                }
            </ul></div>
</html>