@import model.MultiplexModel
@(multiplexDTO: MultiplexModel)
<!doctype html>
<html lang="en">
    <head>
            <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/default.css")">

            <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >

        <title>Movies</title>
    </head>
    <searchItem>
        <div class="card-columns">
            <ul style="list-style-type: none;">
                @for(s <- 1 to multiplexDTO.getNumberOfScreens) {
                    <li>
                        <div class="card m-2" style="width: 12rem;" onclick="location.href = '@routes.AllotMovieController.allotList(multiplexDTO.getId,s)'">
                            <div class="card-searchItem">
                                <h3>Screen @s</h3>
                            </div>
                        </div>
                    </li>
                }
            </ul></div>
        <footer id="footer" >
            <button type="button" class="btn btn-primary m-3" style=" width: 18rem;" onclick="location.href = '@routes.HomeController.index()'">
                Search
            </button>
            <button type="button" class="btn btn-primary m-3" style=" width: 18rem;" onclick="location.href = '@routes.MovieController.listMovie()'">
                Movie management
            </button>
            <button type="button" class="btn btn-primary m-3" style=" width: 18rem;" onclick="location.href = '@routes.MultiplexController.listMultiplex()'">
                Multiplex management & Allocation
            </button>

        </footer>
    </searchItem>
</html>