@import models.{MovieModel, ScreenModel}

@(screenModel: ScreenModel, movies: List[MovieModel])
<!doctype html>
<html lang="en">
    <head>
        <button type="button"  onclick="location.href = '@routes.HomeController.index()'">
            Home
        </button>   <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/default.css")">-->
        <STYLE>


                #col-1 {
                    position: relative;
                    width: 30%;
                    float: left;
                    height: 100%;
                }

                #col-2 {
                    position: relative;
                    width: 70%;
                    float: left;
                    height: 100%;

                }
        </STYLE>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >

        <title>Screen @screenModel.getScreenNumber</title>
    </head>
    <searchItem>
        <div id="middle">
            <div id="col-1" style="border:solid;">
                <h2>Movie Allotted To Screen @screenModel.getScreenNumber</h2>
                @if(screenModel.getMovie != null) {
                    <div class="card-columns">
                        <div class="card m-2" style="width: 18rem;">
                            <div class="card-header text-center"><h5 class="card-title">@screenModel.getMovie.getName</h5></div>
                            <div class="card-searchItem">
                                <p class="card-text">Directed By : @screenModel.getMovie.getDirector</p>
                                <p class="card-text">Producer By : @screenModel.getMovie.getProducer</p>
                                <p class="card-text">Movie Category :@screenModel.getMovie.getCategory</p>
                                <p class="card-text">Release Date : @screenModel.getMovie.getReleaseDate</p>
                            </div>
                            <div class="card-footer">
                                <button type="button" onclick="location.href = '@routes.AllotMovieController.removeAllocation(screenModel.getMovie.getId, screenModel.getMultiplex.getId, screenModel.getScreenNumber)'">
                                    Remove Allocation
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div id="col-2" style="border:solid;">
                <h2>Movies Available</h2>
                <div class="card-columns">
                    <ul style="list-style-type:none;">
                    @for(movieDTO <- movies) {
                        <li>
                            <div class="card m-2" style="width: 18rem;">
                                <div class="card-header text-center"><h5 class="card-title">@movieDTO.getName</h5></div>
                                <div class="card-searchItem">
                                    <p class="card-text">Directed By : @movieDTO.getDirector</p>
                                    <p class="card-text">Producer By : @movieDTO.getProducer</p>
                                    <p class="card-text">Movie Category :@movieDTO.getCategory</p>
                                    <p class="card-text">Release Date : @movieDTO.getReleaseDate</p>
                                </div>
                                @if(screenModel.getMovie == null) {
                                    <div>
                                        <button type="button" onclick="location.href = '@routes.AllotMovieController.allot(movieDTO.getId, screenModel.getMultiplex.getId, screenModel.getScreenNumber)'">
                                            Allot
                                        </button>
                                    </div>
                                }
                            </div>
                        </li>
                    }
                    </ul>
                </div>
            </div>
        </div>

    </searchItem>
</html>