
@import views.html.movies.common
@(multiplexes : List[MultiplexModel])

@common("Multiplexes") {

    <button type="button"  onclick="location.href = '@routes.HomeController.index()'">
     Home
    </button>
    <button type="button"  onclick="location.href = '@routes.MultiplexController.createcMultiplex()'">Add Multiplex
    </button>
    <div>
        <div class="card-columns" >
            <ul style="list-style-type: none;">
                @for(multiplex <- multiplexes) {
                <li>
                    <div class="card m-2" style="width: 18rem;border:solid">
                        <div class="card-header text-center"><h5 class="card-title">@multiplex.name</h5></div>
                        <div class="card-searchItem">
                            <p class="card-text">Address: @multiplex.address</p>
                            <p class="card-text">No of Screens: @multiplex.noOfSccreens</p>
                        </div>
                        <button type="button"  onclick="location.href = '@routes.MultiplexController.updateMultiplex(multiplex.getId)'">
                            Edit Multiplex
                        </button>
                        <button type="button"  onclick="location.href = '@routes.MultiplexController.deleteMultiplex(multiplex.getId)'">
                            Delete  Multiplex
                        </button>
                        <button type="button"  onclick="location.href = '@routes.AllotMovieController.listScreen(multiplex.getId)'">
                            Allot Movie
                        </button>
                    </div>
                </li>
                }
            </ul>
        </div>
    </div>

}