
@import views.html.multiplexes.common
@(multiplexForm : Form[MultiplexModel])(implicit request: Http.Request,id:Integer , messages: play.i18n.Messages)
@import helper._

@common("Edit Multiplex") {
    <button type="button"  onclick="location.href = '@routes.HomeController.index()'">
        Home
    </button>
    @helper.form(action = routes.MultiplexController.update(id)) {
        <fieldset>
            <legend>Multiplex</legend>
            @* CSRF TOKEN SUPPORT *@
            @helper.CSRF.formField
            @*
            @helper.inputText(multiplexForm("id"), Symbol("_label") -> "Enter multiplex Id")
            *@
            @helper.inputText(multiplexForm("id"), 'hidden->"display:none")
            @helper.inputText(multiplexForm("name"), Symbol("_label") -> "Enter Multiplex Name")
            @helper.inputText(multiplexForm("address"), Symbol("_label") -> "Enter Multiplex Address")
            @helper.inputText(multiplexForm("noOfSccreens"), Symbol("_label") -> "EnterNumber of Screens")

            <input type="submit" value="SAVE" />
        </fieldset>
    }
}

